
.player_container {
    width: 100vw;
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base-player-background-color);

    -webkit-box-shadow: var(--base-shadow);
    -moz-box-shadow: var(--base-shadow);
    box-shadow: var(--base-shadow);
}


p {
    margin: 0;
    padding: 0;
}


.navigation {
    width: 100%;
    display: flex;
    align-items: center;
}

.player__timer {
    width: 41rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__timer span.left {
    padding: 0 1rem 0.2rem 1rem;
}

.player__timer span.right {
    padding: 0 1rem 0.2rem 1rem;
}



.navigation_wrapper {
    width: 100%;
    border: var(--base-player-background-color) 0.5rem solid;
    background-color: var(--base-player-light-color);
    height: 5px;
    cursor: pointer;
}

.seek_bar {
    width: 0;
    height: 100%;
    background-color: var(--base-seekbar-color);
    border-radius: 30px;
}

.volume_container{
    width: 18rem;
    display: flex;justify-content: center;align-items: center;
}

.like-download{
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-download img{
    height: 1.6rem !important;
    width: 1.6rem !important;
}


.volume_bar {
    border: var(--base-player-background-color) 0.5rem solid;
    background-color: var(--base-player-light-color);
    height: 5px;
    cursor: pointer;
    width: 8rem;
}

.volume {
    width: 0;
    height: 100%;
    background-color: var(--base-seekbar-color);


    border-radius: 30px;
}

.pp {
    font-size: 2rem;
}


.btn_action {
    filter: invert(13%) sepia(30%) saturate(2232%) hue-rotate(168deg) brightness(89%) contrast(98%);
    height: 2rem !important;
    width: 2rem !important;
    margin: 0 0.5rem;
    cursor: pointer;
}

.btn_action:hover {
    transition: filter 0.2s ease-in-out;
    filter: invert(39%) sepia(46%) saturate(450%) hue-rotate(159deg) brightness(92%) contrast(93%);
}


.player__track-info{
    width: 15rem;
    height: 100%;
    display: flex;
}


.controls {
    width: 12.5rem;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
}

.controls .btn_action{
    margin: 0 0.3rem;

}

.btn_action.replay{
    height: 1.6rem !important;
    width: 1.6rem !important;
}


.player__track-info .title{
    width: 10rem !important;

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 1rem;

}


.player_pic{
    height: 100%;
    width: auto;
}

.player_pic img{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}


